window {
    background: transparent;
}

.sysbox {
    border-radius: 20px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    border: 1px solid rgba(40, 40, 40, 1);
    font-family: "Dots All For Now JL";
    font-size: 0.925em;
}
