@define-color cc-bg rgba(0, 0, 0, 0.9);
@define-color noti-border-color rgba(89, 89, 89, 1);
@define-color noti-bg rgba(0, 0, 0, 0.8);
@define-color noti-bg-opaque rgba(0, 0, 0, 0.8);
@define-color noti-bg-darker rgba(0, 0, 0, 0.8);
@define-color noti-bg-hover rgba(0, 0, 0, 0.8);
@define-color noti-bg-hover-opaque rgba(0, 0, 0, 0.8);
@define-color noti-bg-focus rgba(0, 0, 0, 0.8);
@define-color noti-close-bg rgba(0, 0, 0, 0.8);
@define-color noti-close-bg-hover rgba(20, 20, 20, 0.8);
@define-color text-color rgb(255, 255, 255);
@define-color text-color-disabled rgb(255, 255, 255);
@define-color bg-selected rgb(120, 225, 120);

:root {
    --br: 20px;
    --weight: bold;
}

window,
.control-center,
.notification-row,
.notification,
/* each notification frame */
.notification .title,
/* the title text */
.notification .body,
/* the body text */
.buttons-grid,
/* your control-center buttons */
.label,
/* the “Control Center” label */
.widget-mpris
/* the mpris widget */
{
    font-family: "Aux Mono";
}

.notification .title
/* the title text */
{
    font-weight: var(--weight);
    font-size: 1.0em;
}

.notification-row {
    outline: none;
    background: transparent;
    border: 1px solid transparent;
}

.notification-row .notification-background {
    padding: 2px;
    background: transparent;
    border: 1px solid transparent;
}

.notification-row .notification-background .close-button {
    /* The notification Close Button */
    background: @noti-close-bg;
    color: @text-color;
    text-shadow: none;
    font-size: 0.825em;
    border-radius: 100px;
    box-shadow: none;
    border: none;
    border: 1px solid rgba(89, 89, 89, 1);
}

.notification-row .notification-background .close-button:hover {
    box-shadow: none;
    background-color: rgba(20, 20, 20, 0.8);
    color: white;
}

.notification-row .notification-background .notification .close-button {
    color: white;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 100px;
    transition: all 100ms ease-in-out;
}

.notification-row .notification-background .notification .close-button:hover {
    box-shadow: none;
    background-color: rgba(20, 20, 20, 0.8);
    color: white;
}

.notification-row .notification-background .notification {
    /* The actual notification */
    border-radius: var(--br);
    border: 1px solid @noti-border-color;
    box-shadow: none;
    transition: background 0.15s ease-in-out;
    background: rgba(0, 0, 0, 0.8);
}

.notification-row .notification-background .notification:hover {
}

.notification-row .notification-background .notification.low {
    /* Low Priority Notification */
}

.notification-row .notification-background .notification.normal {
    /* Normal Priority Notification */
}

.notification-row .notification-background .notification.critical {
    /* Critical Priority Notification */
}

.notification-row .notification-background .notification .notification-action,
.notification-row .notification-background .notification .notification-default-action {
    margin: 0;
    box-shadow: none;
    background: rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(89, 89, 89, 1);
    color: @text-color;
    transition: background 0.15s ease-in-out;
    border: 1px solid transparent;
}

.notification-row .notification-background .notification .notification-action {
    background: rgba(0, 0, 0, 0.0);
}
.notification-row .notification-background .notification .notification-action:hover,
.notification-row .notification-background .notification .notification-default-action:hover {
    -gtk-icon-effect: none;
}

.notification-row .notification-background .notification .notification-default-action {
    /* The large action that also displays the notification summary and body */
    border-radius: 0px;
    border: 1px solid transparent;
}

.notification-row .notification-background .notification .notification-default-action:not(:only-child) {
    /* When alternative actions are visible */
    background: transparent;
    border: 1px solid transparent;
}

.notification-row .notification-background .notification .notification-default-action .notification-content {
    background: transparent;
    border: 1px solid transparent;
    padding: 12px 10px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .image {
    /* Notification Primary Image */
    -gtk-icon-effect: none;
    border-radius: var(--br);
    /* Size in px */
    margin: 4px;
    margin-right: 10px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .app-icon {
    /* Notification app icon (only visible when the primary image is set) */
    -gtk-icon-effect: none;
    -gtk-icon-shadow: 0 1px 4px black;
    margin: 6px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .summary {
    /* Notification summary/title */
    background: transparent;
    color: @text-color;
    text-shadow: none;
    font-family: "Dots All For Now JL";
    font-size: 0.75em;
    font-weight: var(--weight);
    padding: 0px 0px 4px 0px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .time {
    /* Notification time-ago */
    font-family: "Aux Mono";
    font-size: 0.75em;
    font-weight: normal;
    background: transparent;
    color: @text-color;
    text-shadow: none;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .body {
    /* Notification body */
    font-size: 0.725em;
    font-weight: normal;
    background: transparent;
    color: @text-color;
    text-shadow: none;
}

.notification-row .notification-background .notification .notification-default-action .notification-content progressbar {
    /* The optional notification progress bar */
    margin-top: -4px;
}

progressbar,
progressbar>trough,
progressbar>trough>progress {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 100px;
    min-height: 5px;
}

progressbar>trough {
    border: 1px solid @noti-border-color;
    border-radius: 100px;
}

progressbar>trough>progress {
    background-color: #ccc;
    border-radius: 100px;
    box-shadow: 0 0 6px rgba(200, 200, 200, 0.6);
}

.notification-row .notification-background .notification .notification-default-action .notification-content .body-image {
    /* The "extra" optional bottom notification image */
    margin-top: 4px;
    background-color: white;
    border-radius: var(--br);
    -gtk-icon-effect: none;
    font-size: 0.7em;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply {
    /* The inline reply section */
    margin-top: 4px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply .inline-reply-entry {
    background: @noti-bg-darker;
    color: @text-color;
    caret-color: @text-color;
    border: 1px solid transparent;
    border-radius: 100px;
    font-size: 0.725em;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply .inline-reply-button {
    margin-left: 4px;
    background: @noti-bg;
    border: 1px solid @noti-border-color;
    border-radius: 100px;
    color: @text-color;
    font-size: 0.725em;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply .inline-reply-button:disabled {
    background: initial;
    color: @text-color-disabled;
    border: 1px solid transparent;
    font-size: 0.725em;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply .inline-reply-button:hover {
}

.notification-row .notification-background .notification .notification-action {
    /* The alternative actions below the default action */
    padding: 0px 0px 2px 0px;
}

.notification-row .notification-background .notification .notification-action:first-child {
}

.notification-row .notification-background .notification .notification-action:last-child {
}

.notification-group {
    /* Styling only for Grouped Notifications */
    outline: none;
    background: transparent;
}

.notification-group.low {
    /* Low Priority Group */
}

.notification-group.normal {
    /* Low Priority Group */
}

.notification-group.critical {
    /* Low Priority Group */
}

.notification-group .notification-group-buttons,
.notification-group .notification-group-headers {
    color: @text-color;
}

.notification-group .notification-group-headers {
    /* Notification Group Headers */
}

.notification-group .notification-group-headers .notification-group-icon {
    -gtk-icon-size: 20px; /* actually render smaller icon */
    color: white;
    margin-right: 5px;
}

.notification-group .notification-group-headers .notification-group-header {
    color: @text-color;
    font-family: "Dots All For Now JL";
    font-weight: var(--weight);
    font-size: 1em;
}

.text-button {
    /* The actual notification button */
    background: rgba(0,0,0,0.8);
    font-size: 0.725em;
    border: 1px solid @noti-border-color;
    border-radius: 100px;
    outline: none;
    outline-offset: 0;
}

.text-button:hover {
    background: rgba(20,20,20,0.8);
}

.notification-alt-actions {
    background: transparent;
    outline: none;
    border: none;
    outline-offset: 0;
}

.notification-group .notification-group-buttons {
    /* Notification Group Buttons */
    background: rgba(0, 0, 0, 0.0);
}

.notification-group button {
    /* Notification Group Buttons */
    background: rgba(0, 0, 0, 0.8);
    border: 1px solid @noti-border-color;
    box-shadow: none;
    text-shadow: none;
    transition: all 100ms ease-in-out;
}

.notification-group button:hover {
    /* Notification Group Buttons */
}

.notification-group.collapsed .notification-row .notification {
    background: rgba(0, 0, 0, 0.8);
}

.notification-group .notification-row .notification {}

notification-group-header {
    font-size: 0.725rem;
}

.notification-group.collapsed .notification-row:not(:last-child) button{
    /* Top notification in stack */
    /* Set lower stacked notifications opacity to 0 */
}

.notification-group.collapsed .notification-row:not(:last-child) .notification-action,
.notification-group.collapsed .notification-row:not(:last-child) .notification-default-action {
    background: transparent;
    opacity: 0;
    border: 1px solid transparent;
}

.notification-group.collapsed:hover .notification-row:not(:only-child) .notification {
}

.control-center {
    /* The Control Center which contains the old notifications + widgets */
    background: rgba(0, 0, 0, 0.8);
    color: @text-color;
    border-radius: var(--br);
    border: 1px solid rgba(89, 89, 89, 1);
    min-height: 700px;
}

.control-center .control-center-list-placeholder {
    /* The placeholder when there are no notifications */
    opacity: 0.5;
}

.control-center .control-center-list {
    /* List of notifications */
    background: transparent;
    padding: 0px 5px;
}

.control-center .control-center-list .notification {
    /* box-shadow: */
    /* 0 0 0 1px rgba(0, 0, 0, 0.3), */
    /* 0 1px 3px 1px rgba(0, 0, 0, 0.3), */
    /* 0 2px 6px 2px rgba(0, 0, 0, 0.3); */
    background: rgba(0, 0, 0, 0.8);
}

.control-center .control-center-list .notification .notification-default-action,
.control-center .control-center-list .notification .notification-action {
    background: transparent;
    transition:
        opacity 100ms ease-in-out,
        background 0.15s ease-in-out;
}

.control-center .control-center-list .notification .notification-default-action:hover,
.control-center .control-center-list .notification .notification-action:hover {}

.blank-window {
    /* Window behind control center and on all other monitors */
    background: transparent;
}

.floating-notifications {
    background: transparent;
    border: 1px solid transparent;
}

.floating-notifications .notification {
    box-shadow: none;
    border: 1px solid transparent;
}

/*** Widgets ***/
/* Title widget */
.widget-title {
    font-family: "Dots All For Now JL";
    color: @text-color;
    margin: 15px 15px 0px 15px;
    font-size: 0.8em;
    font-weight: var(--weight);
}

.widget-title>button {
    font-size: 0.9em;
    font-weight: normal;
    color: @text-color;
    text-shadow: none;
    background: rgba(0, 0, 0, 0.8);
    border: 1px solid @noti-border-color;
    border-radius: 100px;
}

.widget-title>button:hover {
    border: 1px solid rgba(89, 89, 89, 1);
    background-color: rgba(20, 20, 20, 0.8);
}

/* DND widget */
.widget-dnd {
    color: @text-color;
    margin: 8px 15px;
}

.widget-dnd>switch {
    font-size: initial;
    border-radius: var(--br);
    background: rgba(255, 255, 255, 0.8);
    border: 0px solid @noti-border-color;
    box-shadow: none;
}

.widget-dnd>switch:checked {
    background: @bg-selected;
}

.widget-dnd>switch slider {
    background: rgba(255, 255, 255, 0.8);
    border-radius: var(--br);
    border: none;
}

/* Label widget */
.widget-label {
    margin: 15px 15px 0px 15px;
}

.widget-label>label {
    font-size: 0.825em;
    font-weight: normal;
}

/* Mpris widget */
.widget-mpris {
    margin: 0px 0px -20px 0px;
    padding: 0px 10px 5px 10px;
}

.widget-mpris .widget-mpris-player {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: var(--br);
    border: 1px solid @noti-border-color;
    box-shadow: none;
}

.widget-mpris .widget-mpris-player button {
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid;
    border-color: @noti-border-color;
    transition: all 100ms ease-in-out;
}

.widget-mpris .widget-mpris-player button:hover {
    /* The media player buttons (play, pause, next, etc...) */
    border: 1px solid rgba(89, 89, 89, 1);
    background-color: rgba(20, 20, 20, 0.8);
}

.widget-mpris .widget-mpris-player .widget-mpris-album-art {
    border-radius: var(--br);
}

.widget-mpris .widget-mpris-player .widget-mpris-title {
    font-family: "Dots All For Now JL";
    font-weight: var(--weight);
    font-size: 0.75em;
}

.widget-mpris .widget-mpris-player .widget-mpris-subtitle {
    font-size: 0.725em;
}

.widget-mpris .widget-mpris-player>box>button {
    background-color: rgba(0, 0, 0, 0.8);
    margin-top: 0px;
}

.widget-mpris .widget-mpris-player>box>button:hover {
    border: 1px solid rgba(89, 89, 89, 1);
    background-color: rgba(20, 20, 20, 0.8);
}

.widget-mpris>box>button {
    /* Change player side buttons */
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 0.0);
    transition: all 100ms ease-in-out;
    outline: none;
    margin: 0px 5px 0px 5px;
}

.widget-mpris>box>button:hover {
    /* Change player side buttons */
    background-color: rgba(0, 0, 0, 0.0);
    color: rgba(255, 255, 255, 1.0);
    outline: none;
}

.widget-mpris>box>button:disabled {
    /* Change player side buttons insensitive */
    color: rgba(255, 255, 255, 0.2);
    outline: none;
}

.widget-mpris .widget-mpris-player {}

/* Buttons widget */
.widget-buttons-grid {
    padding: 10px;
    margin: 0px 12px 15px 12px;
    padding: 5px;
}

.widget-buttons-grid>flowbox>flowboxchild {
    background: transparent;
    outline: none;
    border: none;
}

.widget-buttons-grid>flowbox>flowboxchild>button {
    min-width: 180px;
    border-radius: 100px;
    padding: 5px;
    border: 1px solid @noti-border-color;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 100ms all ease-in-out;
    font-family: "Dots All For Now JL";
    font-size: 0.825em;
    font-weight: var(--weight);
    outline: none;
    color: white;
}

.widget-buttons-grid>flowbox>flowboxchild>button:focus {
    outline: none;
}

.widget-buttons-grid>flowbox>flowboxchild>button.toggle:checked {
    /* style given to the active toggle button */
    outline: none;
    background-color: rgba(40, 40, 40, 0.8);
    border: 1px solid rgba(89, 89, 89, 1);
}

.widget-buttons-grid>flowbox>flowboxchild>button:hover {
    background-color: rgba(20, 20, 20, 0.8);
    border: 1px solid rgba(89, 89, 89, 1);
    outline: none;
}

/* Menubar widget */
.widget-menubar>box>.menu-button-bar>button {
    border: none;
    background: transparent;
    outline: none;
}

/* .AnyName { Name defined in config after #
  background-color: @noti-bg;
  padding: 8px;
  margin: 8px;
  border-radius: 12px;
}

.AnyName>button {
  background: transparent;
  border: none;
}

.AnyName>button:hover {
  background-color: @noti-bg-hover;
} */

.topbar-buttons>button {
    /* Name defined in config after # */
    border: none;
    background: transparent;
}

/* Volume widget */
.widget-volume {
    background-color: @noti-bg;
    padding: 5px;
    margin: 8px 9px 0px 9px;
    border: 1px solid;
    border-color: rgba(89, 89, 89, 1);
    border-radius: var(--br);
}

.widget-volume>box>button {
    background: rgba(0, 0, 0, 0.8);
    border: none;
}

.per-app-volume {
    background-color: @noti-bg-alt;
    padding: 4px 8px 8px 8px;
    margin: 0px 8px 8px 8px;
    border-radius: var(--br);
}

/* Backlight widget */
.widget-backlight {
    background-color: @noti-bg;
    padding: 5px;
    margin: 8px 9px 0px 9px;
    border: 1px solid;
    border-color: rgba(89, 89, 89, 0.8);
    border-radius: var(--br);
}

/* Inhibitors widget */
.widget-inhibitors {
    margin: 8px;
    font-size: 12px;
}

.widget-inhibitors>button {
    color: @text-color;
    text-shadow: none;
    background: @noti-bg;
    border: 1px solid rgba(89, 89, 89, 1);
    box-shadow: none;
    border-radius: var(--br);
}

.widget-inhibitors>button:hover {
    border: 1px solid rgba(89, 89, 89, 1);
    background-color: rgba(20, 20, 20, 0.8);
}
