* {
  min-height: 0;
  font-family: Geist;
  font-size: 12px;
  font-weight: 600;
}

window#waybar {
  transition-property: background-color;
  transition-duration: 0.1s;
  background-color: rgba(0, 0, 0, 0.0);
  box-shadow: none;
}

window#waybar.hidden {
  opacity: 0.5;
}

#workspaces {
  color: #ffffff;
  margin: 4px 0px 0px 0px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  border: 1px solid rgba(86, 86, 86, 0.5);
}

#workspaces button {
  color: #ffffff;
  margin: 2px 2px;
  padding: 2px 5px;
  border-radius: 15px;
  transition: all 0.1s ease-in-out;
  text-shadow: none;
  border: 1px solid rgba(86, 86, 86, 0);
}

#workspaces button.active {
  color: #ffffff;
  border: 1px solid rgba(86, 86, 86, 0.5);
  margin: 2px 2px;
}

#workspaces button:hover {
  color: #ffffff;
  background: rgba(0, 0, 0, 0.0);
  border: 1px solid rgba(86, 86, 86, 0.3);
}

#workspaces button.urgent {
  color: black;
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(86, 86, 86, 0.0);
}

#sys {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  border: 1px solid rgba(86, 86, 86, 0.5);
  margin: 4px 0px 0px 5px;
  padding: 0px;
}

#info {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  border: 1px solid rgba(86, 86, 86, 0.5);
  margin: 4px 5px 0px 0px;
  padding: 0px;
}

#clock,
#calendar,
#pulseaudio,
#battery,
#cpu,
#tray,
#memory,
#power,
#network,
#bluetooth,
#custom-gpu,
#custom-brightness,
#memory {
  padding: 0px 4px;
}

#user {
  padding: 0px 4px 0px 8px;
}

#tray {
  padding: 0px 4px 0px 8px;
}

#clock {
  padding: 0px 4px 0px 8px;
}

#custom-swaync {
  padding: 0px 8px 0px 4px;
}

window#waybar.empty #window {
  background-color: transparent;
}

tooltip {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(89, 89, 89, 0.6);
}
#taskbar {
  background: transparent;
  padding: 3px 8px 3px 4px;
}

#taskbar button {
  background: rgba(0, 0, 0, 0);
  border: 1px solid;
  border-color: transparent;
  border-radius: 6px;
  padding: 0px 4px;
  color: #ffffff;
  font-size: 12px;
  min-width: 0px;
}

#taskbar button:hover {
  transition: all 0.2s ease;
}

#taskbar button.active {
  border: 1px solid rgba(89, 89, 89, 0.5);
  border-radius: 100px;
}
