* {
  min-height: 0;
  font-family: Geist Regular;
  font-size: 11px;
  font-weight: 600;
}

window#waybar {
  transition-property: background-color;
  transition-duration: 0.1s;
  background-color: rgba(0, 0, 0, 0.0);
  box-shadow: none;
}

window#waybar.hidden {
  opacity: 0.5;
}

#workspaces {
  color: #ffffff;
  margin: 4px 0px 0px 0px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 15px;
  border: 1px solid rgba(86, 86, 86, 0.3);
}

#workspaces button {
  color: #ffffff;
  margin: 2px 2px;
  padding: 2px 5px;
  border-radius: 15px;
  transition: all 0.1s ease-in-out;
  text-shadow: none;
  border: 1px solid rgba(86, 86, 86, 0);
}

#workspaces button.active {
  color: #ffffff;
  border: 1px solid rgba(86, 86, 86, 0.3);
  margin: 2px 2px;
}

#workspaces button:hover {
  color: #ffffff;
  background: rgba(0, 0, 0, 0.0);
  border: 1px solid rgba(86, 86, 86, 0.7);
}

#workspaces button.urgent {
  color: black;
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(86, 86, 86, 0.0);
}

#sys {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 15px;
  border: 1px solid rgba(86, 86, 86, 0.3);
  margin: 4px 0px 0px 5px;
  padding: 0px;
}

#info {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 15px;
  border: 1px solid rgba(86, 86, 86, 0.3);
  margin: 4px 5px 0px 0px;
  padding: 0px;
}

#clock,
#calendar,
#pulseaudio,
#battery,
#cpu,
#tray,
#memory,
#power,
#network,
#bluetooth,
#custom-swaync {
  padding: 0px 4px;
}

#user {
  padding: 0px 4px 0px 8px;
}

#custom-gpu {
  padding: 0px 8px 0px 4px;
}

#tray {
  padding: 0px 4px 0px 8px;
}

#custom-swaync {
  padding-right: 8px;
}

window#waybar.empty #window {
  background-color: transparent;
}

tooltip {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(89, 89, 89, 0.6);
}
