window#waybar {
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: none;
    font-family: "Dots All For Now JL";
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
}

window#waybar.hidden {
    opacity: 0.5;
}

window#waybar.empty #window {
    background-color: transparent;
}

#workspaces {
    margin: 0px;
    padding: 0px;
}

#workspaces button {
    font-family: "Dots All For Now JL";
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
    margin: 0px;
    padding: 0px;
    border: none;
}

#workspaces button:hover {
    background: transparent;
    box-shadow: none;
    outline: none;
    border: none;
}

#hypr {
    margin: 5px 0px 2px 5px;
    padding: 0px 5px;
    transition: all 0.5s ease;
}

#sys {
    margin: 5px 0px 2px 0px;
    transition: all 0.5s ease;
}

#info {
    margin: 5px 5px 2px 0px;
    padding: 0px 5px 0px 0px;
    transition: all 0.5s ease;
}

#custom-mpris_dots {
    padding: 0 10px;
}

#mpris.empty {
    opacity: 0;
}

#custom-dualsense.hidden {
    opacity: 0;
}

#tray {
    padding: 0px 10px 0px 0px;
    transition: all 0.5s ease;
}

#controls {
    margin: 5px 0px 0px 0px;
    padding: 0px;
    transition: all 0.5s ease;
}

menu,
.menu,
.popover,
.popup,
tooltip {
    font-family: "Aux Mono";
    font-size: 14px;
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.9);
    border: 1px solid rgba(89, 89, 89, 1);
    border-radius: 0px;
}
