window#waybar.hidden {
    opacity: 0.5;
}

window#waybar.empty #window {
    background-color: transparent;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.0);
    margin: 0;
    padding: 0;
    box-shadow: none;
    font-family: "Dots All For Now JL";
    font-weight: bold;
    font-size: 14.5px;
    color: #ffffff;
}

#workspaces {
    margin: 0px;
    padding: 0px;
}

#workspaces button {
    font-family: "Dots All For Now JL";
    font-weight: bold;
    font-size: 14.5px;
    color: #ffffff;
    margin: 0px;
    padding: 0px;
    border: none;
}

#workspaces button:hover {
    background: transparent;
    box-shadow: none;
    outline: none;
    border: none;
}

#custom-cpu,
#custom-gpu,
#custom-memory,
#custom-brightness,
#pulseaudio,
#bluetooth {
    padding: 1px 0px 0px 0px;
    margin: 0px;
}

#hypr {
    background-color: rgba(0, 0, 0, 0.0);
    border-radius: 15px;
    border: 1px solid rgba(40, 40, 40, 0);
    margin: 5px 0px 0px 0px;
    padding: 0px 10px 0px 10px;
    transition: all 0.5s ease;
}

#tray {
    padding: 0px 10px 0px 0px;
}

#sys {
    background-color: rgba(0, 0, 0, 0.0);
    border-radius: 15px;
    border: 1px solid rgba(40, 40, 40, 0);
    margin: 5px 0px 0px 0px;
    padding: 0px 10px 0px 10px;
    transition: all 0.5s ease;
}

#mpris.empty {
    opacity: 0;
}

menu,
.menu,
.popover,
.popup,
tooltip {
    font-family: "Aux Mono";
    font-size: 14.5px;
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(89, 89, 89, 1);
    border-radius: 15px;
}
