window#waybar {
  transition-property: background-color;
  transition-duration: 0.1s;
  background-color: rgba(0, 0, 0, 0.0);
  /* border-bottom: 1px solid rgba(86, 86, 86, 0.5); */
  /* border-radius: 0px 0px 14px 14px; */
  box-shadow: none;
  font-family: "Aux Mono";
  font-size: 14px;
  font-weight: 400;
}

window#waybar.hidden {
  opacity: 0.5;
}

window#waybar.empty #window {
  background-color: transparent;
}

#workspaces {
  color: #ffffff;
  margin: 0px;
  padding: 0px;
}

#workspaces button {
  margin: 0px;
  padding: 0px;
}

#workspaces button:hover {
  background: transparent;
}

#hypr {
  /* background: rgba(0, 0, 0, 0.6); */
  border-radius: 100px;
  /* border: 1px solid rgba(86, 86, 86, 0.5); */
  margin: 5px 0px 0px 15px;
  padding: 0px 5px;
  transition: all 0.5s ease;
}

#sys {
  /* background: rgba(0, 0, 0, 0.6); */
  border-radius: 100px;
  /* border: 1px solid rgba(86, 86, 86, 0.5); */
  margin: 5px 0px 0px 0px;
  padding: 0px 5px;
  transition: all 0.5s ease;

}

#info {
  /* background: rgba(0, 0, 0, 0.6); */
  border-radius: 100px;
  /* border: 1px solid rgba(86, 86, 86, 0.5); */
  margin: 5px 15px 0px 0px;
  padding: 0px 5px 0px 0px;
  transition: all 0.5s ease;
}

#mpris {
  /* background: rgba(0, 0, 0, 0.6); */
  border-radius: 100px;
  /* border: 1px solid rgba(86, 86, 86, 0.5); */
  margin: 5px 0px 0px 5px;
  padding: 0px 5px;
  transition: all 0.5s ease;
}

#mpris.empty {
  opacity: 0;
}

#tray {
  /* background: rgba(0, 0, 0, 0.6); */
  border-radius: 100px;
  /* border: 1px solid rgba(86, 86, 86, 0.5); */
  margin: 5px 10px 0px 0px;
  padding: 0px 5px;
  transition: all 0.5s ease;
}

#controls {
  /* background: rgba(0, 0, 0, 0.6); */
  border-radius: 100px;
  /* border: 1px solid rgba(86, 86, 86, 0.5); */
  margin: 5px 0px 0px 0px;
  padding: 0px;
  transition: all 0.5s ease;
}

tooltip {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.9);
  border: 1px solid rgba(89, 89, 89, 0.6);
  font-family: "Aux Mono";
  font-size: 13px;
}
